p {
    font-size: 1.2em;
}
#notFound {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#notFound strong {
  font-size: 20px;
  line-height: 26px;
}

#notFound p {
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#notFound a {
  text-decoration: none;
}

ion-progress-bar::part(stream) {
  background-image: radial-gradient(ellipse at center, #e475f3 0%, #e475f3 30%, transparent 30%);
}
