<ion-header>
  <form [formGroup]="whoisForm">
    <ion-toolbar color="primary">
      <ion-title>
        Whois
      </ion-title>
    </ion-toolbar>
    <ion-toolbar color="secondary">
      <!--ion-select formControlName="type" slot="start" interface="popover" aria-label="Type">
        <ion-select-option value="domain">Domain</ion-select-option>
        <ion-select-option value="ip">Ip</ion-select-option>
        <ion-select-option value="autnum">Autnum</ion-select-option>
        <ion-select-option value="entity">Entity</ion-select-option>
      </ion-select-->
      <ion-searchbar formControlName="name" [debounce]="1000" placeholder="example.com" animated="true"></ion-searchbar>
    </ion-toolbar>
  </form>
</ion-header>
<ion-content *ngIf="whoisForm.invalid" class="ion-padding ion-text-center">
  <p>We do not collect or do telemetry of any kind in this tool, you can verify it by examining the source that is free and open distributed under GPL3 license through the following url: <a href="https://github.com/CodericBusiness/org.coderic.whois.mobile">https://github.com/CodericBusiness/org.coderic.whois.mobile</a></p>
  <p>If you do not trust our privacy policy which states that we do not telemetry your queries, feel free to download and compile this application from source.</p>
</ion-content>
<ion-content *ngIf="whoisForm.valid">
  <ion-progress-bar type="indeterminate" *ngIf="loader"></ion-progress-bar>
  <div id="container" *ngIf="whois$| async as whois else notFound">
    <ion-item>{{ whois.ldhName }}</ion-item>
    <ion-item>
      <ion-label>
        {{ whois.handle }}
      </ion-label>
    </ion-item>
    <ion-list>
      <ion-list-header color="secondary">
        <ion-label>Events</ion-label>
      </ion-list-header>
      <ion-grid>
        <ion-row *ngFor="let event of whois.events">
          <ion-col>{{ event.eventAction }}:</ion-col>
          <ion-col>{{ event.eventDate | date: 'MM/dd/yy, h:mm a' }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <ion-list>
      <ion-list-header color="secondary">
        <ion-label>Nameservers</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let nameserver of whois.nameservers">
        <ion-label>{{ nameserver.ldhName }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header color="secondary">
        <ion-label>Status</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let status of whois.status">
        <ion-label>{{ status }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header color="secondary">
        <ion-label>Links</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let link of whois.links" [href]="link.href">
        <ion-label>{{ link.value }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header color="secondary">
        <ion-label>Notices</ion-label>
      </ion-list-header>
      <ion-card *ngFor="let notice of whois.notices" [href]="notice.links[0].href">
        <ion-card-header>
          <ion-card-title>{{ notice.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ notice.description }}
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
  <ng-template #notFound>
    <div id="notFound">
      Not found
    </div>
  </ng-template>
</ion-content>
